DB_HOST=localhost
DB_PORT=5432
DB_NAME=ciomas_keramik
DB_USER=postgres
DB_PASSWORD=timothywjya

JWT_SECRET=ciomas-keramik-super-secret-jwt-key-2024

NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development
