DB_HOST=localhost
DB_PORT=5432
DB_NAME=ciomas_keramik
DB_USER=postgres
DB_PASSWORD=timothywjya

JWT_SECRET=GANTI_DENGAN_RANDOM_STRING_MINIMAL_64_KARAKTER

CONTENT_KEY_SECRET=GANTI_DENGAN_RANDOM_STRING_LAIN_MINIMAL_64_KARAKTER

NEXTAUTH_URL=https://yourdomain.com   
NODE_ENV=production                   
