# Database PostgreSQL (Contoh)
# Incase you neew to change your Database, You need to Adjust your Queries, And Your Connections
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ciomas_keramik
DB_USER=postgres
DB_PASSWORD=timothywjya

JWT_SECRET=ciomas-keramik-super-secret-jwt-key-2024-ganti-ini

# Next.js
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development